@import './tokens/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: var(--color-surface);
  font-family: var(--font-family);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}
